@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&family=VT323&display=swap');
@import "./node_modules/nes.css/css/nes.css";

:root {
    --color-primary: #f541de;
    --color-primary-rover: #50cdc4;
    --color-light-gray: #f0f0f0;
    --color-light-black: #15111e;
    --color-white: #ffffff;
}


/* comando que suaviza as transições internas */
html {
  scroll-behavior: smooth;
}

/* Fim do comando que suaviza as transições internas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
    font-size: 25px;
    /*text-decoration: none;
    list-style: none;
    */
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    min-width: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}

.cicle{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Gradiente de #431e59 para #4a3c70 */
    background: -webkit-linear-gradient(left, #431e59, #4a3c70);
    background: -moz-linear-gradient(left, #431e59, #4a3c70);
    background: -ms-linear-gradient(left, #431e59, #4a3c70);
    background: -o-linear-gradient(left, #431e59, #4a3c70);
    background: linear-gradient(to right, #431e59, #4a3c70);
    /*background-color: #15111e;*/
    
}

header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;




}


header .navigation ul{
    position: absolute;
    display: flex;

}

header .navigation li{
    list-style: none;
}

header .navigation li a{
    color: #f0f0f0;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    margin-right: 25px;
    position: relative;
    left: 750px;
    transition: 0.3s ease-in-out;
}

header .navigation li a:hover {
    color: #f541de;
}

.nes-btn {
    display: block;
    margin-left: auto;
    margin-left: auto;
    
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    

}

.container .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
    margin-top: 40px;

}

.container .text h2{
    color: #f0f0f0;
    font-size: 3rem;
    margin-bottom: 10px;
    line-height: 2.5rem;
    font-weight: 700;

}


.container .text h2 span{
    font-size: 3.5rem;
    color: #f541de;
}

.container .text p{
    color: #f0f0f0;
    margin-left: auto;
}

.container .text a{
    
    display: inline-block;
    margin-top: 50px;

    padding: 10px 25px;
    background-color: #50cdc4;
    color: #f0f0f0;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;

    /* Botao Pixelado*/



  /* Botao Pixelado*/
}

.nes-btn {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    
    

}


.Chris {
    position:absolute;
    width: 300%;
    display: flex;
    align-items: center;
    padding-left: 28rem;
    padding-top: 16rem;
}



.container .text a:hover{
    transform: translateY(-10px);
}

.container img{
    max-width: 60%;
    max-height: 60%;
    padding: 25px;
    margin-top: 25px;
    transform: translateY(-10px);
    align-items: center;

}


footer {
    padding: 2rem ;
}

/* PIXELED BUTTONS https://nostalgic-css.github.io/NES.css/ */

